<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Ingreso</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>

<header class="header">
    <nav class="navbar">
        <a href="{{ url_for('inicio') }}" class="logo">
            <img src="{{ url_for('static', filename='img/myfinance.jpg') }}" alt="Logo">
        </a>
        <ul class="nav-links">
            <li><a href="{{ url_for('inicio') }}" class="nav-button">Inicio</a></li>
            
            <li><a href="{{ url_for('ingreso') }}" class="nav-button active">Registrar Ingreso</a></li>
        </ul>
    </nav>
</header>

    <section class="form-wrapper">
        <div class="form-card">

            <h2 class="form-title">Registrar Ingreso</h2>

            <p class="form-user">
                <strong>Usuario:</strong> {{ nombre }} |
                <strong>Saldo actual:</strong> ${{ saldo }}
            </p>

            <form action="{{ url_for('ingreso') }}" method="POST">

                <label>Fuente del ingreso</label>
                <input type="text" name="fuente" placeholder="Ej: Sueldo, regalo, devolución" required>

                <label>Monto recibido</label>
                <input type="number" name="monto" placeholder="Monto" required>

                <button class="btn-primary">Registrar</button>
            </form>

        </div>
    </section>

</body>
</html>
